@keyframes border-beam {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.border-beam {
  position: relative;
  overflow: hidden; /* Prevent the beam from overflowing the border */
}

.border-beam::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: inherit; /* Match the border radius of the parent */
  border: var(--border-width) solid transparent;
  background: linear-gradient(90deg, var(--color-from), var(--color-to));
  animation: border-beam var(--duration) s linear infinite;
  transform-origin: center;
  mask: linear-gradient(transparent, transparent), linear-gradient(white, white);
  mask-composite: intersect;
  -webkit-mask-composite: destination-in; /* For WebKit browsers */
}

.border-beam {
  --border-width: 1.5px;
  --duration: 15s;
  --color-from: #ffaa40;
  --color-to: #9c40ff;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.blink {
  animation: blink 1s linear infinite;
}
/* Gradient Text Animation */
.gradient-text {
  font-size: 4rem; /* Adjust as needed */
  background: linear-gradient(
    90deg,
    #03ccc2,
    #ffc120,
    #fd8f16,
    #026f45,
    #a9da27,
    #03ccc2
  );
  background-size: 300%;
  /* Ensure compatibility with different browsers */
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Transparent text for the gradient effect */
  -moz-text-fill-color: transparent;
  animation: gradient-move 3s infinite linear;
}

/* Gradient Animation */
@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* Slow Spin for Decorative Circle */
@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}


@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}